@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
}


.loader {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25000000;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  background: black;
  transition: opacity 0.5s, visibility 0.5s;
}

.loader p{
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: end;
  font-size: 15px;
  justify-content: center;
  padding-bottom: 100px;
}

.loader address{
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: end;
  padding-bottom: 70px;
  justify-content: center;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Pacifico', cursive;
  filter: drop-shadow(0 0 25px #00e070);
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid white;
  border-top-color: #00e070;
  filter: drop-shadow(0 0 25px #00e070);
  border-radius: 50%;
  animation: loading 1s ease infinite;
  z-index: 20000000;
}

@keyframes loading {
  from { 
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

html {
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    z-index: 200000;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
}

nav ul li {
    position: relative;
    list-style: none;
}

nav ul li a {
    position: relative;
    padding-left: 10px;
    font-size: 25px;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: transparent;
    z-index: 1000000;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

nav ul li a::before {
    content: attr(data-text);
    position: absolute; 
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 0.5s;
    border-right: 8px solid var(--clr);
    -webkit-text-stroke: 1px var(--clr);
}

nav ul li a:hover:not(.active)::before {
    width: 100%;
    filter: drop-shadow(0 0 20px var(--clr));
}

a.active {
    color: var(--clr);
    -webkit-text-stroke: 2px var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: transparent;
    align-items: center;
    justify-content: start;
    z-index: 1000000;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: row;
    padding: 0 px 25px;
}

header .logo{
    position: fixed;
    font-family: 'Permanent Marker', cursive;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    font-size: 0.8rem;
    padding: 5px 15px;
}

p#hm1 {
    font-size: 25px;
    color: #fff;
    font-family: 'Permanent Marker', cursive;
}

.bgc {
  height: 60px;
  background-color: black;
  display: flex;
}

.media-icons {
    position: fixed;
    right: 10px;
    top: 20%;
    align-items: center;
    justify-content: baseline;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.5s ease-in-out;
}

.bgc .media-icons {
    position: inherit;
    right: -50px;
}

.bgc_home {
  filter: drop-shadow(0 0 5px #00e070);
}
.bgc_html {
  filter: drop-shadow(0 0 5px #e84d00);
}
.bgc_css {
  filter: drop-shadow(0 0 5px #0049e8);
}
.bgc_bs {
  filter: drop-shadow(0 0 5px #a600e8);
}
.bgc_js {
  filter: drop-shadow(0 0 5px #e8d900);
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
}


.section {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  padding: 5%;
  min-height: 100vh; 
  position: relative;
  display: flex; 
  flex-direction: column;
  align-items:center;
  justify-content: center; 
  background: rgb(40, 5, 219);
  color: #fff;
  font-weight: 700;
  background-color: #000000;
}

.section h3 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    overflow: hidden;
}

.home_section {
  position: relative;
  display: flex; 
  flex-direction: column;
  align-items:center;
  justify-content: end; 
  background: rgb(40, 5, 219);
  color: #fff;
  background-color: #000000;
  background-image: linear-gradient(rgba(0,0,0,0.3),transparent), url(./imgs/bg.jpg);
  background-position: center;
  background-size: cover;
}

.section:not(.home_section) {
    padding-left: 15%;
}

.home_content {
  position: relative;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: right;
  padding-left: 15%;
  font-size: 3vmin;
}

.home_content h1 {
    font-size: 12vmin;
  }

.sec_inside {
  position: relative;
  background: #000000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
.swiper {
    position: relative;
    width: 55vw;
    height: 60vh;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s ease;
  }

  
@media (max-width: 768px) {
    .nav {
      display: none;
    }
  
    .swiper {
    position: relative;
      width: 80vw;
      height: 60vh;
    }
    
    .swiper-button-next, .swiper-button-prev {
        visibility: hidden;
        opacity: 0;
    }

    .section:not(.home_section) {
        position: relative;
        padding-left: 5%;
    }

    .section h3 {
        font-size: 50px;
        padding-bottom: 10px;
    }

    .home_content {
        text-align: center;
        padding-left: 20px;
        font-size: 4vmin;
        padding-bottom: 50px;
    }
  } 

  .HTMlswiper {
    filter: drop-shadow(0 0 25px #e84d00);
    border: 5px solid #e84d00;
  }
  .CSSswiper {
    filter: drop-shadow(0 0 25px #0049e8);
    border: 5px solid #0049e8;
  }
  .BSswiper {
    filter: drop-shadow(0 0 25px #a600e8);
    border: 5px solid #a600e8;
  }
  .JSswiper {
    filter: drop-shadow(0 0 25px #e8d900);
    border: 5px solid #e8d900;
  }

  .swiper-slide {
    padding: 30px;
    position: relative;
    text-align: center;
    font-size: 25px;
    background: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2 {
    padding-bottom: 20px;
  }

  button.html-slide {
    padding: 0px 5px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 800;
    position: relative;
    height: 20%;
    width: 70%;
    border-radius: 10px;
    border: 3px solid #e84d00;
    background-color: #e84d007c;
    margin: 10px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }

  button.html-slide:hover {
    background-color: rgb(0, 0, 0);
    color: #e84d00;
    filter: drop-shadow(0 0 25px #e84d00);
  } 

  button.css-slide {
    padding: 0px 5px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 800;
    position: relative;
    height: 20%;
    width: 70%;
    border-radius: 10px;
    border: 3px solid #0049e8;
    background-color: #0049e87c;
    margin: 10px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }

  button.css-slide:hover {
    background-color: rgb(0, 0, 0);
    color: #0049e8;
    filter: drop-shadow(0 0 25px #0049e8);
  } 

  button.bs-slide {
    padding: 0px 5px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 800;
    position: relative;
    height: 20%;
    width: 70%;
    border-radius: 10px;
    border: 3px solid #a600e8;
    background-color: #a600e87c;
    margin: 10px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }

  button.bs-slide:hover {
    background-color: rgb(0, 0, 0);
    color: #a600e8;
    filter: drop-shadow(0 0 25px #a600e8);
  } 

  button.js-slide {
    padding: 0px 5px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 800;
    position: relative;
    height: 20%;
    width: 70%;
    border-radius: 10px;
    border: 3px solid #e8d900;
    background-color: #e8d9007c;
    margin: 10px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }

  button.js-slide:hover {
    background-color: rgb(0, 0, 0);
    color: #e8d900;
    filter: drop-shadow(0 0 25px #e8d900);
  } 
  
  .swiper-slide img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


#HTML h3 {
    position: relative;
    filter: drop-shadow(0 0 25px #e84d00);
}
.html_pic {
    padding: 5px;
    width: 100px;
    height: 80px;
}

#CSS h3 {
    position: relative;
    filter: drop-shadow(0 0 25px #0049e8);
}
.css_pic {
    padding: 5px;
    width: 100px;
    height: 80px;
}

#BS h3 {
    position: relative;
    filter: drop-shadow(0 0 25px #a600e8);
}
.bs_pic {
    padding: 5px;
    width: 100px;
    height: 80px;
}

#JS h3 {
    position: relative;
    filter: drop-shadow(0 0 25px #e8d900);
}
.js_pic {
    padding: 5px;
    width: 100px;
    height: 80px;
}